{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <p>Links to prototype go below for testing</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Dashboard</a> <span>(Dashboard view of E-cites control ... coming soon)</span></li>
 
    </ul>
  </div>
</div>

{% endblock %}
