{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Test round 1 - Alpha 25-02-2026</h2>

    <p class="govuk-heading-s">Single permit view inc search results</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Search terms:</p>
    <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-4">
      <li><code>26GBIMP12344X</code> (1 result)</li>
      <li><code>26GBIMP12344X</code> <code>26GBIMP7GH45R</code> <code>26GBIMPHG453Y</code> (3 results)</li>
    </ol>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/alpha-24-02-26/single-search-results/search-results">Search for CITES permits</a></li>
      <li><a href="/alpha-24-02-26/single-search-results/permit-search-results">Permit search results</a></li>
      <li><a href="/alpha-24-02-26/single-search-results/check-permit-details?permit=26GBIMP12344X">Check permit details</a></li>
    </ul>

    <p class="govuk-heading-s">Combined permit view</p>
    <p class="govuk-body govuk-!-margin-bottom-1">Search terms:</p>
    <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-4">
      <li><code>26GBIMP6GT534</code></li>
      <li><code>26GBIMP7GH45R</code></li>
      <li><code>26GBIMP9XYZ12</code></li>
    </ol>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/alpha-24-02-26/combined-search-results/search-results">Search for a CITES permit</a></li>
      <li><a href="/alpha-24-02-26/combined-search-results/check-permit-details">Check permit details (combined)</a></li>
      <li><a href="/alpha-24-02-26/combined-search-results/endorsement-confirmation">Endorsement confirmation</a></li>
      <li><a href="/alpha-24-02-26/combined-search-results/refusal-confirmation">Refusal confirmation</a></li>
    </ul>


  </div>
</div>

{% endblock %}
