{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from 'govuk/components/footer/macro.njk' import govukFooter %}

{% block footer %}
  {% if (GOVUKPrototypeKit.isDevelopment) %}
    {% set footerItems = [
      { href: "/manage-prototype", text: "Manage your prototype" },
      { href: "/clear-data", text: "Clear data" }
    ] %}
  {% else %}
    {% set footerItems = [
      { href: "/clear-data", text: "Clear data" }
    ] %}
  {% endif %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
